$dark: #202226;

$grey-900: #101840;
$grey-800: #474d66;
$grey-700: #696f8c;
$grey-600: #8f95b2;
$grey-500: #c1c4d6;
$grey-400: #d8dae5;
$grey-300: #e6e8f0;
$grey-200: #edeff5;
$grey-100: #f4f5f9;
$grey-90: #f4f6fa;
$grey-75: #f9fafc;
$grey-50: #fafbff;
$white: #ffffff;

$blue-900: #0a1433;
$blue-800: #142966;
$blue-700: #1f3d99;
$blue-600: #2952cc;
$blue-500: #3366ff;
$blue-400: #5c85ff;
$blue-300: #85a3ff;
$blue-200: #adc2ff;
$blue-100: #d6e0ff;
$blue-50: #ebf0ff;
$blue-25: #f3f6ff;

$red-700: #7d2828;
$red-600: #a73636;
$red-500: #d14343;
$red-300: #ee9191;
$red-100: #f9dada;
$red-25: #fdf4f4;

$green-900: #10261e;
$green-800: #214c3c;
$green-700: #317159;
$green-600: #429777;
$green-500: #52bd95;
$green-400: #75caaa;
$green-300: #97d7bf;
$green-200: #bae5d5;
$green-100: #dcf2ea;
$green-50: #f5fbf8;
$green-25: #f5fbf8;

$orange-700: #996a13;
$orange-500: #ffb020;
$orange-100: #f8e3da;
$orange-25: #fffaf2;

$purple-600: #6e62b6;
$purple-100: #e7e4f9;

$teal-800: #0f5156;
$teal-100: #d3f5f7;

$yellow-800: #66460d;
$yellow-100: #ffefd2;
